* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 5%;
	max-height: 100vh;
	font-family: 'Overpass', sans-serif;
	color: #4d4d4d;
/*	background-image: url("images/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;*/
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadein{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.navigation{
	margin-bottom: 20%;
	z-index: 3;
}

.navigation a{
	font-family: 'Overpass', sans-serif;
	color: #4d4d4d;
	font-size: 2.75vh;
	text-decoration: none;
	letter-spacing: 0.05vw;
	margin: 0 3vw 0 0;
}

.nav-button {
	transform: scaleY(0.925);
}

.float{
	transition: transform 0.5s;
}

.float:hover{
	transform: translate(0, -5px);
}

.head{
	margin-top: -10%;
}

.nav {
	margin-top: -10%;
}

.left {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 40vw;
	z-index: 2;
	display: flex;
	align-items: center;
  	justify-content: center;
  	background: rgba(0, 0, 0, 0);
}

.right{
	margin-left:37.5vw;
	padding: 6.5% 0;
	z-index: 1;
		display: flex;
	align-items: center;
  	justify-content: center;
}

.container-1 {
	margin-top: -2.5%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

#icon {
	width: 25%;
	height: auto;
	margin-right: 2.5%;
}

.about{
  flex: 0 1 auto;
}

.about * {
  display: inline-block;
  
}

.about img{
	margin-top: 2.5%;
  	height: 65vh;
}

.title{
	font-size: 4vh;
  	font-weight: 300;
  	transform: scaleY(0.9);
  	vertical-align: 50%;
  	margin-left: 2.5%;
}

.description-container{
	text-align: center;
}

.description {
  display: inline-block; 
  text-align: left;
  width: 80%;
}

#hi{
	text-transform: uppercase;
	font-size: 4.2vh;
	letter-spacing: 0.05vw;
	margin-bottom: 2.5%;
	transform: scaleY(0.925);
}

.text{
	font-weight: 300;
	font-size: 3vh;
	letter-spacing: 0.01vw;
	line-height: 5.5vh;
	transform: scaleY(0.925);
}

.regular{
	font-weight: 400;
}

.skills-title {
	margin-top: 7.5%;
	margin-bottom: 2%;
	font-size: 4vh;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.column-1{
	width: 25%;
}

.column-2 {
	width: 75%;
}