* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0 0 5% 0;
	margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/Kollektif.ttf");
    src: url("fonts/kollektif-webfont.svg") format("svg"),
    url("fonts/kollektif-webfont.eot") format("eot");
}

@font-face {
    font-family: "Kollektif-Bold";
    src: url("/fonts/Kollektif-Bold.ttf");
    src: url('fonts/kollektif-bold-webfont.woff2') format('woff2'),
         url('fonts/kollektif-bold-webfont.woff') format('woff'),
         url("/fonts/kollektif-bold-webfont.svg") format("svg"),
    	 url("/fonts/kollektif-bold-webfont.eot") format("eot");
}

.subtitle{
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #aaa;
}

.title{
	font-family: 'Kollektif-Bold', sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-top: 1.5%;
	letter-spacing: 0.02em;
}

.fadein{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.logo{
	position:absolute;
	top: 0;
	left: 0;
	margin: 3% 4.5%;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 3.5vh;
	color: #f48da0;
	font-family: 'Kollektif-Bold', sans-serif;
	z-index: 3;
}

.logo a{
	color: #f48da0;
	text-decoration: none;
}

.navigation{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin: 3.5% 4.5%;
	z-index: 3;
}

.navigation a{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 12pt;
	text-decoration: none;
	letter-spacing: 0.05em;
	margin: 0 0.5vw 0 4.75vw;
	text-transform: uppercase;
	font-weight: 500;
}

.float{
	transition: transform 0.5s;
}

.float:hover{
	transform: translate(0, -5px);
}

.about{
  left: 0;
  top: 0;
}

.about img{
	display: inline-block;
  	height: 560px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 12% 9% 6.5% 9%;
}

.column-1{
	width: 48%;
}

.column-2{
	width: 52%;
	padding-top: 5%;
}

.row-2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	padding: 0.5% 5% 1.5% 9%;
}

.row-2-column{
	width: 33%;
	padding-right: 2.5%;
}

.see-more{
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	color: #f48da0;
	font-size: 10pt;
	letter-spacing: 0.05em;

}

.trivia-title{
	text-transform: uppercase;
	color: #f48da0;
	font-family: 'Kollektif-Bold',sans-serif;
		letter-spacing: 0.06em;
		font-size: 14pt;
}

.trivia-description{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
			font-size: 11pt;
	line-height: 1.65em;
	margin-top: 5%;
	letter-spacing: 0.02em;
}

#inspiration{
	padding-left: 5%;
}

.image-row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
		padding-left: 5%;
		padding-top: 10%;
}

.image-row img{
	width: 30px;
	height: auto;

}

.image-column{
	width: 15%;
}

#linkedin {
	width: 25px;
	height: auto;
/*	margin-left: 5%;*/
}

#instagram {
	width: 28px;
	height: auto;
}

.description {
  display: inline-block; 
  text-align: left;
  width: 80%;
}

.text{
	padding-top: 9%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
		font-size: 12pt;
	line-height: 1.65em;
	padding-left: 5%;
}

.text span{
	color: #f48da0;
	font-weight: 400;
}




@media (max-width: 785px) {

	.navigation a{
		font-size: 3vh;
	}

	.nav-button {
		transform: scaleY(0.95);
	}
}

@media (max-width: 682px){
	.left{
		position: relative;
		width: 100%;
	}
	.right{
		margin-left: 0;
	}

}